.nav {
    display: flex;  
    justify-content: center;
}

.nav-amount {
    width:800px;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 20px;
    list-style: none;
    font-size: 18px;
}

.nav-amount > li {
    flex: 1;
}

.nav-amount > li:not(:last-child) > div {
    border-right:1px solid #E1E1E1;
}