.header {
    position: fixed;
    width: 100%;
    font-size: 20px;
    background-color: #3d414c;
}

.header-sub {
    width: 1220px;    
    height: 70px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;    
    justify-content: space-between;  
}

/* logo - left */

.header-logo {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none
}

.header-img {
    width: 30px;
    height: 30px;    
    padding-right: 15px;
}

.header-name {
    font-size: 25px;
    margin: 0;
}

/* nav - right */

.header-options {
    display: flex;
    align-items: center;
}

.header-option {
    padding-left: 25px;    
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
  